$backgroundImg: url(../img/m-h-night.jpg);
$bodyColorText: #ffffff;
$bodyFont: 'Fresca', sans-serif;
$bodyBackground: #21232e;
$marker: #ff4e33;
$buttonColor: #e3ac00;
$cardColor: #3b3f50;
$footerBackground: #3b3f50;
$map-gradient: ('start':#e1a902, 'end':#932e52);
