$backgroundImg: url(../img/m-h-day.jpg);
$bodyColorText: #2c2f3c;
$bodyFont: 'Hind', sans-serif;
$bodyBackground: #ffffff;
$marker: #14a0c7;
$buttonColor: #699a00;
$cardColor: #21232e;
$footerBackground: #21232e;
$map-gradient: ('start':#679704, 'end':#2e5cd5);